.col-4{
    
    left: 200px;
    top: 70px;
    outline-style: solid;
    outline-color: lightgray;
    outline-width: 2px;
    outline-offset: 15px;
}

#imagen{

    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tableRows{
    width: 100%;
    border-top: lightgray;
    border-bottom: lightgray;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-width: 1px;
}

.tableSquare{
    width: 100%;
    outline-style: solid;
    outline-color: lightgray;
    outline-width: 2px;
    outline-offset: 15px;
  }


table tr td { padding:20px }
table td:nth-child(1) { width:35%; }
table td:nth-child(2) { width:15%; }
